example1/cart/node_modules
example1/container/node_modules
example1/products/node_modules
Marketing Microfrontend App/marketing/node_modules
Marketing Microfrontend App/dashboard/node_modules
Marketing Microfrontend App/auth/node_modules
Marketing Microfrontend App/container/node_modules
