cart/node_modules
container/node_modules
products/node_modules
Marketing Microfrontend App/marketing/node_modules
Marketing Microfrontend App/dashboard/node_modules
Marketing Microfrontend App/auth/node_modules
Marketing Microfrontend App/container/node_modules
