example1/cart/node_modules
example1/container/node_modules
example1/products/node_modules
Marketing_Microfrontend_App/marketing/node_modules
Marketing_Microfrontend_App/dashboard/node_modules
Marketing_Microfrontend_App/auth/node_modules
Marketing_Microfrontend_App/container/node_modules
